<!doctype html>
<title>Hello from Flask</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% else %}
  <h1>Hello, World!</h1>
{% endif %}

<body>
  {% if form %}
  <form method="POST">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="input-group input-group-sm">
            {{ form.encrypt(title=form.encrypt.description, class_='form-control', tabindex='1') | safe }}
            <div class="input-group-btn">
              {{ form.submit(class="btn btn-info", formaction='/') }}
            </div>
          </div>
        </div>
        {% if value %}
          {{ value }}
        {% endif %}
      </div>
    </div>
  </form>
  {% endif %}
</body>